<a href="https://colab.research.google.com/github/cairoegito/Calculando-uma-poss-vel-compra/blob/main/analisededados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 
gas= pd.read_csv("/content/drive/MyDrive/cadastro-revendas-glp-1.csv", on_bad_lines='skip')
# Vai mostrar as 5 primeiras linhas do arquivo
gas.head()

                                                   CODIGOISIMP;AUTORIZACAO;DATAPUBLICACAO;RAZAOSOCIAL;CNPJ;ENDERECO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DISTRIBUIDORA;DATAVINCULACAO;CLASSE
1005908;001/GLP/ES0020006;06/03/2008;AUTO POSTO...    S/N;;CENTRO;29295000;ES;VARGEM ALTA;SUPERGAS...
1007571;001/GLP/PI0012577;22/02/2007;CLEONICE F...    2635;;VERMELHA;64018500;PI;TERESINA;INDEPEND...
1005780;001/GLP/MS0017385;30/08/2007;ALAN BARCE...    214;;GUIRAY;79740000;MS;IVINHEMA;COPAGAZ;04/...
1012245;001/GLP/RS0006314;15/03/2006;AUTO POSTO...    2290;;PIO X;95034000;RS;CAXIAS DO SUL;LIQUIG...
1005562;001/GLP/RS0014868;16/05/2007;COMERCIO D...    1791;;FLORESTAL;95900000;RS;LAJEADO;LIQUIGAS...

In [ ]:
# Informações do DataFrame
gas.describe()

       CODIGOISIMP;AUTORIZACAO;DATAPUBLICACAO;RAZAOSOCIAL;CNPJ;ENDERECO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DISTRIBUIDORA;DATAVINCULACAO;CLASSE
count                                               55935
unique                                              55927
top       S/Nº;;INTERIOR;96770000;RS;CERRO GRANDE DO S...
freq                                                    2

In [ ]:
# Tipo dos dados do DataFrame
gas.dtypes

CODIGOISIMP;AUTORIZACAO;DATAPUBLICACAO;RAZAOSOCIAL;CNPJ;ENDERECO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DISTRIBUIDORA;DATAVINCULACAO;CLASSE    object
dtype: object